<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="total-nav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-xs-5 col-md-5">
                    <a class="navbar-brand" href="#page-top">멋쟁이사자처럼 at  중앙대</a>
                    <!--로고 삽입예정-->
                </div>
            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-menu">
                    
                        <div class="col-xs-1 col-md-1" id="menu-li">
                            <a class="page-scroll" href="#about">About</a>
                        </div>
                        <div class="col-xs-2 col-md-2" id="menu-li">
                            <a class="page-scroll" href="#CAU">Likelion at CAU?</a>
                        </div>
                        <div class="col-xs-1 col-md-1" id="menu-li">
                            <a class="page-scroll" href="#schedule">Schedule</a>
                        </div>
                        <div class="col-xs-1 col-md-1" id="menu-li">
                            <a class="page-scroll" href="#portfolio">Portfolio</a>
                        </div>
                        <div class="col-xs-1 col-md-1" id="menu-li">
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    
                </div>
            </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div style="height:50px; width:100%">&nbsp;</div>
    
    </div>
    <div>
        <div class="background-img"> <img src="assets/lion.jpg" id="background-img"></div>
        
        <section class="aboutcl" id="about" style="width:100%; height:300px">
            <!--<div class="aboutcss" style="width:100%; height:300px">&nbsp;</div>-->
            어바웃에 관해 적을 것임
        </section>
        <section class="CAUcl" id="CAU" style="width:100%; height:300px">
            CAU에 관해 적을 것임
        </section>
        <section class="schedulecl" id="schedule" style="width:100%; height:300px">
            계획에 관해 적을 것임
        </section>
        <section class="portfoliocl" id="portfolio" style="width:100%; height:300px">
            기록들에 관해 적을 것임
        </section>
        <section class="contactcl" id="contact" style="width:100%; height:300px">
            연락처에 관해 적을 것임
        </section>
        
    </div>
    
</body>