
.navbar{
    width:100%;
    
    position: fixed;
    
    border-radius:0px;
    height:50px;
    
    background-color:#FCB040; 
    border:0px;
    border-color:#118BC0;
    border-bottom:10px;
}
.page-scroll{
   
}
#menu-li{
    padding-right:0px;
    padding-left:0px;
    padding-top:14px;
    padding-bottom:14px;
    font-size:16px;
    color:#118BC0;
}


.aboutcl{
    
}


#background-img{
    position: fixed;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.6;
}