
.navbar{
    width:100%;
    
    position: fixed;
    
    border-radius:0px;
    height:50px;
    
    background: rgb(255,127,36); 
    background: rgba(255,127,36, 0.7); 
    border:0px;
    border-color:#118BC0;
    border-bottom:10px;
}
.page-scroll{
   
}
#menu-li{
    padding-right:0px;
    padding-left:0px;
    padding-top:14px;
    padding-bottom:14px;
    font-size:16px;
    color:#118BC0;
}
.body-background{
    background-image:url("assets/lion.jpg")!important;
    opacity:0.3;
    position:relative;
    
}